@font-face {
  font-family: "Bellefair";
  src: url("./fonts/Bellefair-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}